[database]
connection = mysql+pymysql://glance:{{ host.data.glance_password }}@{{ host.data.controller_host }}/glance

[image_format]
disk_formats = ami,ari,aki,vhd,vhdx,vmdk,raw,qcow2,vdi,iso,root-tar

[keystone_authtoken]
auth_uri = http://{{ host.data.controller_host }}:5000
auth_url = http://{{ host.data.controller_host }}:35357
memcached_servers = {{ host.data.controller_host }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = glance
password = {{ host.data.glance_password }}

[paste_deploy]
flavor = keystone

[glance_store]
stores = file,http
default_store = file
filesystem_store_datadir = /var/lib/glance/images/
